
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)), url(Motu.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.srch{
    width: 100%;
    max-width: 700px;
    background:rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.srch input{
    background: transparent;
    flex: auto;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color:rgba(209, 204, 204, 0.81);

}

::placeholder{
    color:rgba(209, 204, 204, 0.81);
}

.srch button img{
    width: 25px;

}

.srch button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}